@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue sur Gracci !</h1>
    <p>
        Le Groupement Action Citoyen (Gacci) organise l’achat groupé de biens de consommation issus de
        producteurs locaux et/ou biologiques. Celui-ci regroupe des citoyens désireux d’acheter des produits
        auprès de producteurs locaux. Cette organisation souhaite faciliter les échanges au travers d’une
        plateforme web.
    </p>
</div>
